body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior-y: contain;
}

#view {
    outline: none;
}

#canvas {
    outline: none;
}

@font-face {
	font-family: 'archivo_blackregular';
	src: url('assets/fonts/archivoblack-regular-webfont.woff2') format('woff2'),
	url('assets/fonts/archivoblack-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
